<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDisplayName</key>
  <string>Kept Photos Importer</string>
  <key>CFBundleExecutable</key>
  <string>KeptPhotosImporter</string>
  <key>CFBundleIdentifier</key>
  <string>com.kept.photos-importer</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>KeptPhotosImporter</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>CFBundleVersion</key>
  <string>1</string>
	<key>LSUIElement</key>
	<true/>
  <key>NSPhotoLibraryUsageDescription</key>
  <string>Kept needs access to the Photos album you choose for this one-time import.</string>
</dict>
</plist>
